<header class="header-global">
  <div class="header-global__titles" role="banner">
    <a href="<%- url_for() %>"><%= config.title %></a>
    <% if (theme.subtitle){ %>
    <a href="<%- url_for() %>"><%= theme.subtitle %></a>
    <% } %>
  </div>

  <nav class="header-global__nav">
    <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
    <% if (theme.twitter){ %>
    <a href="https://twitter.com/<%- theme.twitter %>">Twitter</a>
    <% } %>
    <% if (theme.rss){ %>
    <a href="<%- theme.rss %>"><%= __('rss_feed') %></a>
    <% } %>

    <a href="#" class="js-search"><%= __('search') %></a>
  </nav>

  <div role="search">
    <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
      <input type="search" name="q" class="search-form-input" placeholder="Search" aria-label="Search">
      <button type="submit" class="search-form-submit">Search</button>
      <input type="hidden" name="sitesearch" value="https://blog.rnsloan.com">
      </form>
  </div>
</header>